In [ ]:
import numpy as np
import seaborn as sns
import requests
from bs4 import BeautifulSoup
url = 'https://www.flat.mx/venta/propiedades-en-ciudad-de-mexico'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
prec=[]
informacionG=[]
property_cards = soup.find_all('div', class_='relative mt-auto flex flex-row pr-8')
for link in property_cards:
     prec.append(link.text)

In [ ]:
cadenas = prec
precios = []
for cadena in cadenas:
    lista_subcadenas = cadena.split('$')
    precio_sin_formato = lista_subcadenas[1].replace(',', '').replace('.', '')
    precio_num = float(precio_sin_formato)
    precios.append(precio_num)
print(precios)

[10000000.0, 1850000.0, 4900000.0, 3800000.0, 3895000.0, 2395000.0, 3240000.0, 1000000.0, 1600000.0, 3600000.0, 10500000.0, 5400000.0, 2350000.0, 7595000.0, 1000000.0, 3907209.0, 2280000.0, 5295000.0, 3545000.0, 5550000.0]

In [ ]:

x= soup.find_all('span', class_='ml-2 truncate font-montserrat text-xs font-bold tabular-nums text-black')
for link in x:
     informacionG.append(link.text)

In [ ]:
original_list = informacionG
metros = []
for i in range(0, len(original_list), 5):
    metros.append(original_list[i])

print(metros)

['655 m²', '96 m²', '335 m²', '220 m²', '82 m²', '69 m²', '127 m²', '44 m²', '59 m²', '83 m²', '660 m²', '243 m²', '82 m²', '280 m²', '49 m²', '114 m²', '80 m²', '129 m²', '82 m²', '144 m²']

In [ ]:
habitaciones= []
for i in range(1, len(original_list), 5):
    habitaciones.append(original_list[i])
#convirtiendo la lista en numeros
lista_texto = habitaciones
lista_numeros = []
for texto in lista_texto:
    numero = int(texto)
    lista_numeros.append(numero)

In [ ]:
lista_numeros
#lista_numeros es igual a habitaciones

[3, 2, 2, 3, 2, 1, 3, 2, 2, 3, 3, 2, 2, 4, 1, 1, 3, 3, 2, 3]

In [ ]:
arr1 = np.array(lista_numeros)
arr2 = np.array(precios)

# Calcular la matriz de correlación
matriz_corr = np.corrcoef(arr1, arr2)

# Imprimir la matriz de correlación
print(matriz_corr)

[[1.         0.55534122]
 [0.55534122 1.        ]]

In [ ]:
from sklearn.linear_model import LinearRegression
# Creamos un modelo de regresión lineal
modelo = LinearRegression()

# Entrenamos el modelo con los datos
X = [[h] for h in lista_numeros]
y = precios
modelo.fit(X, y)


prediccion = modelo.predict([[5]])
print(prediccion)

[9011492.70517929]